<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{checkout.title}">Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'/>

</head>

<body>

<div th:replace="fragments :: navbar">Navigation bar fragment</div>

<div class="container body-content">

        <h1 th:text="#{product.create}">Create product</h1>

        <form action="#" th:action="@{/admin/product}" th:object="${product}" method="post">

            <div class="form-group col-4">
                <label th:text="#{product.name}">name</label>
                <input class="form-control" th:field="*{name}"/>
            </div>
            <div class="form-group col-4">
                <label th:text="#{product.description}">Description</label>
                <input class="form-control" th:field="*{description}"/>
            </div>
            <div class="form-group col-4">
                <label th:text="#{product.price}">Price</label>
                <input class="form-control" th:field="*{price}"/>
            </div>
            <div class="form-group col-4">
                <label th:text="#{product.quantity}">Quantity</label>
                <input class="form-control" th:field="*{quantity}"/>
            </div>
            <div class="form-group col-4">
                <label th:text="#{product.details}">Details</label>
                <input class="form-control" th:field="*{details}"/>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit"  th:value="#{product.submit}"/>
            </div>
        </form>
        <div th:replace="fragments :: footer">Footer</div>
    </div>
</body>
</html>
